body {
    background: rgb(136, 191, 232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(136, 191, 232, 1) 0%, rgba(112, 176, 224, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(136, 191, 232, 1) 0%, rgba(112, 176, 224, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(136, 191, 232, 1) 0%, rgba(112, 176, 224, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88bfe8', endColorstr='#70b0e0', GradientType=0); /* IE6-9 */

    font-family: 'Hammersmith One', sans-serif;
    color: #fff;
    background-size: cover;
}

html,
body {
    height: 100%;
}

p.text-center {
    color: #ffffff;
    margin: 3%;
}

div .numer {
    display: inline-block;
    margin: 0.3%;
    padding: 0.5em;
    text-align: center;
    border-radius: 3px /3px;
    font-size: 1.6em;
    background-color: #ffea00;
    color: #3381c4;
}

@media (max-width: 250px) {
    div .numer {
        font-size: 0.5em;
    }

    #button1 {
        width: 25%;
        height: 10%;
        font-size: 0.5em;
    }
}